{% extends "sencuisineByfa/header.html" %}
{% block title %}
    cuisine
{% endblock %}
{% block content %}
{% load static %}
<h1>{{ cuisine.nom }} Recettes</h1>

<div class="row mg">
    {% for recette in recettes %}
    <div class="col-lg-4 col-md-6 col-12 mb-4 h-100">
        <div class="card">
            {% if recette.image %}
            <img src="{{ recette.image.url }}" class="card-img-top" alt="{{ recette.nom }}">
            {% else %}
            <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="Image par défaut">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title center2">{{ recette.nom }}</h5>
                <p class="card-text">{{ recette.description }}</p>
                <a class="card-text" href="{% url 'sencuisineByfa:recette-detail' recette.pk %}">Voir les détails</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}